.board {
    margin-left: 100px;
    width: 490px;
}

.board button {
    height: 150px;
    width: 150px;
    float: left; 
    margin: 5px;
    font-size: 3em;
}

#message {
    font-size: 3rem;
    margin-bottom: 1rem;
    margin-left: 100px;
    text-align: start;
}

.chat-area{
    display: flex;
    width: auto;
    margin: 50px;
    padding-left: 50px;
    height: 50vh;
}

.main-container{
    align-content: flex-end;
}